.container {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  gap: 16px;
  background-color: rgb(248, 249, 251);
}

.formContainer {
  padding: 24px;
  grid-column: 1 / 2;
  /* background-color: white; */
}

.previewContainer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  /* background-color: white; */
}
