.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
}

.formContainer {
  padding: 16px;
  grid-column: 1 / 2;
  background-color: aliceblue;
}

.previewContainer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  background-color: white;
}
